<h1><%= form_title %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: local_assigns[:form_url] ) do |form| %>
      <%= render 'shared/error_messages' %>
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control'%>

      <%= form.label :email %>
      <%= form.email_field :email, class: 'form-control'%>

      <%= form.label :password %>
      <%= form.password_field :password, class: 'form-control'%>

      <%= form.label :password_confirmation, "Confirmation" %>
      <%= form.password_field :password_confirmation, class: 'form-control'%>

      <%= form.submit form_submit_text, class: "btn btn-primary" %>
    <% end %>
    <% if local_assigns[:include_gravatar_edit] then %>
      <div class="gravatar_edit">
        <%= gravatar_for @user %>
        <a href="http://gravatar.com/emails" target="_blank", rel="noopener">change gravatar</a>
      </div>
    <% end %>
  </div>
</div>