<% provide(:title, @user.name) %>
<div>
  <aside>
    <section>
      <h1>
        <%= gravatar_for(@user)%>
        <%= @user.name %>
      </h1>  
    </section>
  </aside>
</div>
<p><%= "Name: #{@user.name}" %></p>
<p><%= "Email: #{@user.email}" %></p>
<p><%= "Updated: #{@user.updated_at}" -%></p>
<p><%= "Time.now: #{Time.now}" %></p>
<%= link_to "Update account", edit_user_path(current_user) %>
